.color1{
	color: white;
}
/*menu*/

#menu{
	padding: 5px 60px;
	background-color: white;	
}

@media (max-width: 700px){
	#menu-p{
		display: inline-flex;
		flex-direction: row;
	}
}

#menu ul li a{
	color: black;
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
}

@media (max-width: 800px;){
	.navbar-header{
		flex-direction: row-reverse;
	}
}

/*box-1*/

#box-1{
	position: relative;
}

/*caja desktop*/
#box-a{	
	background-color: #f7b617;
	background-position: cover;
	width: 600px;
	height: 500px;
	float: right;
	position: relative;
	margin-top: -580px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
}

@media (max-width: 700px){
	#box-a{
		visibility: hidden;
	}
}

.linea-a{
	border: 1px solid white;
	width: 200px;	
	display: inline-block;
	margin-right: 30px;
	margin-left: 
}

.linea-b{
	border: 1px solid white;
	width: 200px;	
	display: inline-block;
	margin-left: 30px;	
}

#box-a p{
	display: inline-block;
	font-size: 15px;
}

.btn{
	background-color: white;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	color: black;
}

.small-a{
	display: inline-block;
}

.small-a h3{
	display: inline-block;
	margin-right: 10px;
}

.small-a img{
	display: inline-block;
}

.small-b{
	display: inline-block;
}

#box-a p{	
	font-size: 18px;
}

#box-a h1{
	font-weight: bold;	
}

/*caja movil*/

#box-b{	
	background-color: #f7b617;
	width: 350px;
	height: 300px;
	float: right;
	position: relative;
	margin-top: -500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
}

@media (min-width: 700px){
	#box-b{
		visibility: hidden;
	}
}

@media (max-width: 700px){
	#box-a{
		visibility: hidden;
	}
	#box-b{
		width: 255px;
	}
}

.btn2{
	background-color: white;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 3px 15px;
}

/*box-2*/

#box-2{
	background-color: #f7b617;
	width: 100%;
	height: auto;	
	padding: 40px;
}

/*version desktop*/
#box-c{
	background-color: transparent;
	border: 1px solid white;
	float: left;
	width: 100%;
	height: auto;
	padding: 40px;
	margin-bottom: -200px;
}

#box-c h2{	
	margin-left: 100px;
}

#box-c h3{
	font-size: 20px;
	width: 380px;
	margin-left: 100px;
}

@media (min-width: 700px) and (max-width: 1024px){
	#box-2{
		background-color: #f7b617;
		width: 100%;
		height: 70vh;
	}
	#box-c{
		padding: 10px;		
	}
	#box-c h2{	
		margin-left: 10px;
	}
	#box-c h3{	
		margin-left: 10px;
	}
	#box-c img{	
		width: 200px;
	}
}

/*version movil*/

#box-d{
	margin: -30px;
}

#box-e{
	background-color: transparent;
	border: 1px solid white;
	float: left;
	width: 100%;
	height: auto;
	top: -300px;
	position: relative;
	margin-left: 5px;
	padding: 25px;
	margin-bottom: -280px;
}

#box-e img{
	padding: 20px;
}


@media (max-width: 700px){
	#box-c{
		visibility: hidden;
	}
	#box-d{
		visibility: visible;
	}
}

@media (min-width: 700px){
	#box-c{
		visibility: visible;
	}
	#box-d{
		visibility: hidden;
	}
}

/*box-3*/

#box-5{
	background-image: url(../assets/img/conduce.jpg);
	background-repeat: no-repeat;
	background-position: cover;
	width: 100%;
	height: auto;
}

.box-f{
	background-color: rgba(0, 0, 0, 0.8);
	float: right;
	width: 600px;
	height: 500px;
	margin-top: -500px;
	flex-direction: column;
	position: relative;
	padding: 100px 40px;
}

.btn3{
	background-color: #f7b617;
	width: auto;
	height: 50px;
	padding: 5px 20px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 7px;
}

@media (max-width: 700px){
	.box-f h1{
		margin-left: 290px;
		font-size: 23px;
	}
	.box-f h2{
		margin-left: 290px;
		font-size: 20px;
	}
	.btn3{
		margin-left: 290px;
		display: flex;
		font-size: 15px;
		padding: 10px 15px;
	}
}

/*box-4*/

#box-6{
	background-color: #f7b617;
	width: 100%;
	height: auto;
	margin-left: 1px;			
}

#box-g{
	background-color: transparent;
	flex-direction: column;
	margin-top: 30px;
	margin-left: 50px;
}

#box-h{
	width: 100%;
	height: auto;
	border: 1px solid white;
}

.box-i input{
	background-color: transparent;
	width: 450px;
	height: 40px;
	border: 1px solid white;
	border-radius: 7px;
	margin-left: 10px;
}

.box-j input{
	background-color: transparent;
	width: 450px;
	height: 40px;
	border: 1px solid white;
	border-radius: 7px;
	margin-left: 10px;
}

#box-g .btn{
	font-weight: bold;
	margin-left: 100px;
	margin-bottom: 30px;
}

@media (max-width: 700px){
	#box-h{
		visibility: hidden;
	}
	#box-g{
		margin-left: 10px;
	}
	#box-g input{
		width: auto;
	}
	#box-g .btn{
		margin-left: 10px;
	}
}

/*footer*/

footer{
	background-color: #2b2b2b;
	width: 100%;
	height: auto;
	padding: 40px;
}

#box7{
	margin-top: 20px;
}

#box-o img{
	margin-bottom: 10px;
}

.linea{
	border: 1px solid white;
	width: 100%;
	margin-bottom: 30px;	
}

#box-k i{	
	margin-right: 10px;
}

#box-n img{
	margin-bottom: 20px;
}

@media (max-width: 450px){
	#box-7{
		visibility: hidden;		
	}	
	#box-q{
		visibility: visible;
		margin-top: -1200px;
		padding: 5px 15px;
		margin-right: -20px;
	}
	#box-q img{
		width: 120px;
	}
}

@media (min-width: 800px){
	#box-7{
		visibility: visible;
		margin-bottom: -400px;
	}
	#box-q{
		visibility: hidden;
	}
} 

@media (min-width: 450px) and (max-width: 800px){
	#box-7{
		visibility: hidden;		
	}	
	#box-q{
		visibility: visible;
		margin-top: -1100px;		
		margin-right: 20px;

	}
	#box-p{
		margin-top: -700px;
	}
	footer{
		height: 120vh;
	}
}



