*{
	color: white;
}
/*menu*/

#menu{
	padding: 5px 60px;
	background-color: white;	
}

#menu ul li a{
	color: black;
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
}

/*box-1*/

#box-1{
	position: relative;
}

/*caja desktop*/
#box-a{	
	background-color: #f7b617;
	width: 600px;
	height: 500px;
	float: right;
	position: relative;
	margin-top: -580px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
}

@media (max-width: 700px){
	#box-a{
		visibility: hidden;
	}
}

.linea-a{
	border: 1px solid white;
	width: 200px;	
	display: inline-block;
	margin-right: 30px;
	margin-left: 
}

.linea-b{
	border: 1px solid white;
	width: 200px;	
	display: inline-block;
	margin-left: 30px;	
}

.btn{
	background-color: white;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	color: black;
}

.small-a{
	display: inline-block;
}

.small-a h3{
	display: inline-block;
	margin-right: 10px;
}

.small-a img{
	display: inline-block;
}

.small-b{
	display: inline-block;
}

#box-a p{	
	font-size: 18px;
}

#box-a h1{
	font-weight: bold;	
}

/*caja movil*/

#box-b{	
	background-color: #f7b617;
	width: 350px;
	height: 300px;
	float: right;
	position: relative;
	margin-top: -500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 30px;
}

@media (min-width: 700px){
	#box-b{
		visibility: hidden;
	}
}

.btn2{
	background-color: white;
	width: 200px;
	height: 30px;
	border-radius: 6px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding: 3px 15px;
}

/*box-2*/

#box-2{
	background-color: #f7b617;
	width: 100%;
	height: auto;	
	padding: 40px;
}

#box-c{
	background-color: transparent;
	border: 1px solid white;
	float: left;
	width: 100%;
	height: auto;
	padding: 40px;
}

#box-c h2{	
	margin-left: 100px;
}

#box-c h3{
	font-size: 20px;
	width: 380px;
	margin-left: 100px;
}

#box-d{
	margin: -30px;
}

#box-e{
	background-color: transparent;
	border: 1px solid white;
	float: left;
	width: 100%;
	height: auto;
	top: -450px;
	position: relative;
	margin-left: 5px;
	padding: 25px;
	margin-bottom: -420px;
}

#box-e img{
	padding: 20px;
}


@media (max-width: 700px){
	#box-c{
		visibility: hidden;
	}
	#box-d{
		visibility: visible;
	}
}

@media (min-width: 700px){
	#box-c{
		visibility: visible;
	}
	#box-d{
		visibility: hidden;
	}
}

